<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Invest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/vue-promise-btn.css" crossorigin="use-credentials">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/growYourPlayer_logo_noTitle.png">

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Cookies -->
    <script src="/js/js.cookie.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBL3EPC6BC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-DBL3EPC6BC');
    </script>
</head>
<body>
<router-view></router-view>
<div class="container pb-5" style="padding: 0; max-width: 1376px; width: 100%;">
    <div class="hero-and-solution">
        <section class="hero">
            <%- include("header.ejs", { menu: 2 }) %>
        </section>
    </div>


    <!-- Vue dynamic content container -->
    <div id="main">
        <player-bid ref="playerBid"></player-bid>
        <player-shared ref="playerShared"></player-shared>
        <player-shared2 ref="playerShared2"></player-shared2>
    </div>

    <div id="prepare" style="">
        <button id="btn-connect" style="" class="card-btn gdlr-button">Connect wallet</button>
    </div>



    <div class="container divConnected">
        <div class="row">
            <div class="col-md-12">
                <div id="connected" style="display: none;">
                    <button id="btn-disconnect" class="card-btn gdlr-button">Disconnect wallet</button>
                    <div id="network">
                        <strong>Connected blockchain:</strong> <span id="network-name"></span><br>
                        <strong>Selected account:</strong> <span id="selected-account"></span><br>
                        <strong>Balance on account:</strong> <span id="account-balance"></span>
                    </div>
                    <div>
                        <p id="toLessWarning" style="color: red; font-weight: bold; display: none;">Your account balance is not sufficient enough!</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <div class="upcoming-tag" style="background-color: red">
                <span class="tag">NEW</span>
            </div>
            <img class="card-img-top" src="../images/Player4.png" alt="Card image cap">
            <div class="player-number">
                1
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">GOALKEEPER</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Daniel Owusu (23)</h5>
            <div class="row">
                <div class="col-8 balance">
                    <p style="color: #595757; font-size: 15px;margin-bottom: 0.1rem;">Balance $ORI</p>
                    <p class="price" id="balance-<%= players[0].modalId %>"><%= players[0].price.balance %></p>
                    <p class="price" id="price-<%= players[0].modalId %>" style="font-size:0.9em;color:#4f4f4f;font-weight:normal;"><%= players[0].price.price %>$</p>
                </div>
                <div class="col-4" >
                    <p style="color: #595757; font-size: 15px;margin-bottom: 0.1rem;">Ch. 24/h</p>
                    <p class="roi" v-bind:style="{ color: players[i].price.profit < 0 ? 'red' : 'green' }" id="roi-<%= players[0].modalId %>"><%= players[0].price.profit %>%</p>
                </div>
            </div>
            <button type="button" class="btn btn-primary invest" onclick="window.openDetails(<%= players[0].modalId %>, '<%= players[0].type %>')">INVEST</button>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <div class="upcoming-tag" style="background-color: green">
                <span class="tag">NEW</span>
            </div>
            <img class="card-img-top" src="../images/Player1.png" alt="Card image cap">
            <div class="player-number">
                10
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">ATTACKING MIDFIELDER</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Kwame Adomah (24)</h5>
            <div class="row">
                <div class="col-8 balance">
                    <p style="color: #595757; font-size: 15px;margin-bottom: 0.1rem;">Balance $ORI</p>
                    <p class="price" id="balance-<%= players[1].modalId %>"><%= players[1].price.balance %></p>
                    <p class="price" id="price-<%= players[1].modalId %>" style="font-size:0.9em;color:#4f4f4f;font-weight:normal;"><%= players[1].price.price %>$</p>
                </div>
                <div class="col-4" >
                    <p style="color: #595757; font-size: 15px;margin-bottom: 0.1rem;">Ch. 24/h</p>
                    <p class="roi" v-bind:style="{ color: players[i].price.profit < 0 ? 'red' : 'green' }" id="roi-<%= players[1].modalId %>"><%= players[1].price.profit %>%</p>
                </div>
            </div>
            <button type="button" class="btn btn-primary invest" onclick="window.openDetails(<%= players[1].modalId %>, '<%= players[1].type %>')">INVEST</button>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <img class="card-img-top" src="../images/Player3.png" alt="Card image cap">
            <div class="player-number">
                5
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">DEFENDER</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Kofi Asante (25)</h5>
            <div class="row">
                <div class="col-8 balance">
                    <p style="color: #595757; font-size: 15px;margin-bottom: 0.1rem;">Balance $ORI</p>
                    <p class="price" id="balance-<%= players[2].modalId %>"><%= players[2].price.balance %></p>
                    <p class="price" id="price-<%= players[2].modalId %>" style="font-size:0.9em;color:#4f4f4f;font-weight:normal;"><%= players[2].price.price %>$</p>
                </div>
                <div class="col-4" >
                    <p style="color: #595757; font-size: 15px;margin-bottom: 0.1rem;">Ch. 24/h</p>
                    <p class="roi" v-bind:style="{ color: players[i].price.profit < 0 ? 'red' : 'green' }" id="roi-<%= players[2].modalId %>"><%= players[2].price.profit %>%</p>
                </div>
            </div>
            <button type="button" class="btn btn-primary invest" onclick="window.openDetails(<%= players[2].modalId %>, '<%= players[2].type %>')">INVEST</button>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <div class="upcoming-tag" style="background-color: red">
                <span class="tag">UPCOMING</span>
            </div>
            <img class="card-img-top grey" src="../images/Player5.png" alt="Card image cap">
            <div class="player-number">
                4
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">DEFENDER</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Samuel Agyemang (34)</h5>
            <div class="row">
                <div class="col-8 balance">
                    <p style="color: #595757; font-size: 15px;margin-bottom: 0.1rem;">Balance $ORI</p>
                    <p class="price" id="balance-<%= players[3].modalId %>"><%= players[3].price.balance %></p>
                    <p class="price" id="price-<%= players[3].modalId %>" style="font-size:0.9em;color:#4f4f4f;font-weight:normal;"><%= players[3].price.price %>$</p>
                </div>
                <div class="col-4" >
                    <p style="color: #595757; font-size: 15px;margin-bottom: 0.1rem;">Ch. 24/h</p>
                    <p class="roi" v-bind:style="{ color: players[i].price.profit < 0 ? 'red' : 'green' }" id="roi-<%= players[3].modalId %>"><%= players[3].price.profit %>%</p>
                </div>
            </div>
            <button type="button" disabled="true" class="btn btn-primary invest" onclick="window.openDetails(<%= players[3].modalId %>, '<%= players[3].type %>')">INVEST</button>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <div class="upcoming-tag" style="background-color: red">
                <span class="tag">UPCOMING</span>
            </div>
            <img class="card-img-top grey" src="../images/Player2.png" alt="Card image cap">
            <div class="player-number">
                3
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">FORWARD</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Kojo Mensah (22)</h5>
            <button disabled="true" type="button" class="btn btn-primary invest" onclick="window.openDetails">INVEST</button>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <div class="upcoming-tag" style="background-color: red">
                <span class="tag">UPCOMING</span>
            </div>
            <img class="card-img-top grey" src="../images/Player6.png" alt="Card image cap">
            <div class="player-number">
                9
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">ATTACKER</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Michael Osei (26)</h5>
            <button disabled="true" type="button" class="btn btn-primary invest" onclick="window.openDetails">INVEST</button>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <div class="upcoming-tag" style="background-color: red">
                <span class="tag">UPCOMING</span>
            </div>
            <img class="card-img-top grey" src="../images/Player7.png" alt="Card image cap">
            <div class="player-number">
                45
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">ATTACKER</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Emmanuel Boateng (39)</h5>
            <button disabled="true" type="button" class="btn btn-primary invest" onclick="window.openDetails">INVEST</button>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <div class="upcoming-tag" style="background-color: red">
                <span class="tag">UPCOMING</span>
            </div>
            <img class="card-img-top grey" src="../images/Player8.png" alt="Card image cap">
            <div class="player-number">
                72
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">MIDFIELDER</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Kweku Adjei (20)</h5>
            <button disabled="true" type="button" class="btn btn-primary invest" onclick="window.openDetails">INVEST</button>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <div class="upcoming-tag" style="background-color: green">
                <span class="tag">UPCOMING</span>
            </div>
            <img class="card-img-top grey" src="../images/Player9.png" alt="Card image cap">
            <div class="player-number">
                99
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">GOALKEEPER</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Joseph Addo (43)</h5>
            <button disabled="true" type="button" class="btn btn-primary invest" onclick="window.openDetails">INVEST</button>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <div class="upcoming-tag" style="background-color: green">
                <span class="tag">UPCOMING</span>
            </div>
            <img class="card-img-top grey" src="../images/Player10.png" alt="Card image cap">
            <div class="player-number">
                54
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">RIGHT WINGER</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Isaac Tetteh (27)</h5>
            <button disabled="true" type="button" class="btn btn-primary invest" onclick="window.openDetails">INVEST</button>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <div class="upcoming-tag" style="background-color: green">
                <span class="tag">UPCOMING</span>
            </div>
            <img class="card-img-top grey" src="../images/Player11.png" alt="Card image cap">
            <div class="player-number">
                62
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">LEFT WINGER</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Kwesi Appiah (25)</h5>
            <button disabled="true" type="button" class="btn btn-primary invest" onclick="window.openDetails">INVEST</button>
        </div>
    </div>

    <div class="card">
        <div class="card-top mt-4">
            <div class="upcoming-tag" style="background-color: green">
                <span class="tag">UPCOMING</span>
            </div>
            <img class="card-img-top grey" src="../images/Player12.png" alt="Card image cap">
            <div class="player-number">
                31
            </div>
        </div>
        <div class="card-body">
            <h5 class="position">STRIKER</h5>
            <h5 class="card-title mb-3 fw-bold" id="name">Asamoah Gyasi (28)</h5>
            <button disabled="true" type="button" class="btn btn-primary invest" onclick="window.openDetails">INVEST</button>
        </div>
    </div>

    <!--<% for(var i = 0; i < players.length; i++) { %>
    <div class="card">
        <div class="card-top mt-4">
            <% if(players[i].tag && players[i].tag.name) { %>
            <div class="upcoming-tag" style="background-color: <%= players[i].tag.color %>">
                <span class="tag"><%= players[i].tag.name.toUpperCase()%></span>
            </div>
            <% } %>
                <% if(players[i].tag && players[i].tag.name === "upcoming") { %>
            <img class="card-img-top grey" src="../images/<%= players[i].image %>" alt="Card image cap">
                <% } else { %>
                    <img class="card-img-top" src="../images/<%= players[i].image %>" alt="Card image cap">
                <% } %>
            <% if(players[i].number) { %>
                <div class="player-number">
                   <%= players[i].number %>
                </div>
            <% } %>
        </div>
        <div class="card-body">
            <h5 class="position"><%= players[i].position %></h5>
            <h5 class="card-title mb-3 fw-bold" id="name"><%= players[i].name %> (<%= players[i].age %>)</h5>
            <div class="row">
                <div class="col-8 balance">
                    <p style="color: #595757; font-size: 15px;margin-bottom: 0.1rem;">Balance $ORI</p>
                    <p class="price" id="balance-<%= players[i].modalId %>"><%= players[i].price.balance %></p>
                    <p class="price" id="price-<%= players[i].modalId %>" style="font-size:0.9em;color:#4f4f4f;font-weight:normal;"><%= players[i].price.price %>$</p>
                </div>
                <div class="col-4" >
                    <p style="color: #595757; font-size: 15px;margin-bottom: 0.1rem;">Ch. 24/h</p>
                    <p class="roi" v-bind:style="{ color: players[i].price.profit < 0 ? 'red' : 'green' }" id="roi-<%= players[i].modalId %>"><%= players[i].price.profit %>%</p>
                </div>
            </div>
            <button type="button" class="btn btn-primary invest" onclick="window.openDetails(<%= players[i].modalId %>, '<%= players[i].type %>')"
            <% if(players[i].tag.name === 'upcoming') { %> disabled <% } %>>INVEST</button>
        </div>
    </div>
    <% } %> -->
    <div style="margin-top: 4em;">
        <%- include("footer.ejs") %>
    </div>
</div>
</body>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="/js/checkboxes.js"></script>
<script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://unpkg.com/web3@1.6.1/dist/web3.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/web3modal@1.9.5/dist/index.js"></script>
<script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.6.6/dist/umd/index.min.js"></script>

<script src="/js/vue.js"></script>
<script src="/js/vue-router.js"></script>
<script src="/js/httpVueLoader.js" crossorigin="use-credentials"></script>
<script type="module" src="/js/vue-promise-btn.umd.js" crossorigin="use-credentials"></script>
<script type="module" src="/vue/app.js" crossorigin="use-credentials"></script>

<script>
    const Web3Modal = window.Web3Modal.default;
    const WalletConnectProvider = window.WalletConnectProvider.default;
    const evmChains = window.evmChains;

    const providerOptions = {
        walletconnect: {
            package: WalletConnectProvider,
            options: {
                rpc: {
                    56: "https://bsc-dataseed1.binance.org"
                }
            }
        }
    }

    window.web3Modal = new Web3Modal({
        cacheProvider: true, // optional
        providerOptions, // required
        disableInjectedProvider: false, // optional. For MetaMask / Brave / Opera.
    });

    const reloadPrice = async () => {
        const req = await fetch("https://apespace.io/_api/token/pairs?id=1087676");
        let ori = await req.json();

        let oriUsd = parseFloat(ori[0].price);

        window.price = parseFloat(oriUsd.toFixed(2));
        document.title = "DeVest - $ORI @ " + oriUsd.toFixed(3) + "$";
    }


    const connect = async () => {
        try {
            window.provider = await window.web3Modal.connect();

            const web3 = new Web3(provider);
            await window.ethereum.request({
                method: 'wallet_switchEthereumChain',
                params: [{ chainId: '0x38' }],
            });

            const chainId = await web3.eth.getChainId();

            // Load chain information over an HTTP API
            const chainData = evmChains.getChain(chainId);
            document.querySelector("#network-name").textContent = chainData.name;
            const accounts = await web3.eth.getAccounts();
            selectedAccount = accounts[0];
            document.querySelector("#selected-account").textContent = selectedAccount;

            // fetch account balance
            const balance = await web3.eth.getBalance(selectedAccount);
            const ethBalance = web3.utils.fromWei(balance, "ether");
            const humanFriendlyBalance = parseFloat(ethBalance).toFixed(4);
            document.querySelector("#account-balance").textContent = humanFriendlyBalance;

            // Display fully loaded UI for wallet data
            document.querySelector("#prepare").style.display = "none";
            document.querySelector("#connected").style.display = "block";
        } catch (e) {
            console.log("Could not get a wallet connection", e);
            return;
        }

    }

    if(localStorage.getItem("WEB3_CONNECT_CACHED_PROVIDER")) {
        (async () => {
            await connect();
            $('#openingModal').modal('show');
        })();
    }

    document.querySelector("#btn-connect").addEventListener("click", async () => {
        $('#openingModal').modal('show');
        await connect();
    });

    document.querySelector("#btn-disconnect").addEventListener("click", async () => {
        if (window.provider.close) {
            await window.provider.close();
            await window.web3Modal.clearCachedProvider();
            localStorage.clear();
            provider = null;
        }

        selectedAccount = null;

        // Set the UI back to the initial state
        document.querySelector("#prepare").style.display = "block";
        document.querySelector("#connected").style.display = "none";
    });



</script>



</html>

